* {
  color: rgb(240, 230, 78);
  background-color: #272538;
  font-family: "DejaVu Sans", Verdana, sans-serif;
}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

ul,
ol {
  font-size: 14px;
}

img {
  height: 350px;
  width: auto;
}

#small {
  font-size: 10px;
  font-weight: 800;
}

