* {
  color: white;
  background-color: rgb(49, 43, 43);
  font-family: "DejaVu Sans", Verdana, sans-serif;
}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

